.header {
	width: 100%;
	height: 64px;
	background: #093a4c;
	overflow: hidden;
}

.header_in {
	width: 96%;
	margin: 0 auto;
	overflow: hidden;
}

.header_in_le {
	width: 22%;
	height: 64px;
	line-height: 64px;
	float: left;
	overflow: hidden;
}

.header_in_le p,
.header_in_ri p {
	float: left;
}

.tit {
	color: #e7f9ff;
	font-size: 26px;
}

.shu {
	width: 2px;
	height: 32px;
	margin: 5.4% 4%;
	background: #265b6e;
}

.gr {
	color: #e7f9ff;
	font-size: 16px;
}

.header_in_ri {
	width: 12%;
	height: 64px;
	line-height: 64px;
	float: right;
	overflow: hidden;
}

.header_in_ri a {
	cursor: pointer;
}

.fanhui,
.tuichu {
	display: inline-block;
	font-size: 14px;
	color: #fff;
}

.shu1 {
	width: 2px;
	height: 21px;
	margin: 13.8% 7%;
	background: #265b6e;
}

.ditu {
	width: 20px;
	height: 16px;
	background: url(../img/head_ditu.png) 0 0 no-repeat;
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
}


/*内容*/

.con_box {
	width: 100%;
	overflow: hidden;
	background: #fff;
}

.nav {
	width: 7%;
	height: 100%;
	background: #f0f3f8;
	float: left;
}

.nav li {
	width: 100%;
	height: 100px;
	overflow: hidden;
	border-bottom: 1px solid #dedede;
}

.nav li p {
	text-align: center;
}

.nav img {
	display: inline-block;
	border: 0px;
}

.xinxi_top {
	margin-top: 28px;
	margin-bottom: 12px;
}

.xinxi_bot {
	font-size: 14px;
	color: #666;
}

.addc {
	background: #c0dbe8;
}

.addb {
	color: #007daa;
}

.con_box_ri {
	width: 93%;
	height: 100%;
	float: left;
}

.box_title {
	height: 50px;
	line-height: 50px;
	overflow: hidden;
}

.box_title_le {
	float: left;
	color: #333;
	font-size: 16px;
	font-weight: bold;
	margin-left: 20px;
}

.box_title_ri {
	float: right;
	font-family: "宋体";
	font-size: 14px;
	color: #007daa;
	margin-right: 20px;
}

.box_title_ri a {
	font-family: "宋体";
	font-size: 14px;
	color: #007daa;
	display: inline-block;
}

.box_tb {
	width: 13px;
	height: 15px;
	display: inline-block;
	background: url(../img/lock.png) 0 0 no-repeat;
	vertical-align: middle;
	margin-right: 5px;
}

.con_box_ri_neirong {
	width: 98%;
	height:85%;
	margin: 0 auto;
	border: 1px #e7e7e7 solid;
}

.neirong_tit {
	height: 42px;
	background: #f5f8fc;
	font-size: 16px;
	color: #333;
	padding-left: 20px;
	border-bottom: 1px #e7e7e7 solid;
	line-height: 42px;
}

.nr {
	width: 51%;
	/*height: 92%;*/
	margin: 32px auto;
}

.nr div {
	margin-bottom: 3%;
}
.nr .neibu{
	margin-bottom: 0;
	float: left;
	width: 75%;
	
}
.nr .clearfloat{
	margin-bottom: 0;
	overflow: hidden;
}
.m_top{
	
}
.le {
	color: #666;
	text-align: right;
	width: 16%;
	display: inline-block;
	margin-right: 20px;
	float: left;
}
.lle{
	/*margin-top: 7px;*/
}
.ri {
	color: #333;
}
 label{
	width: 80px;
	/*height: 25px;
	line-height: 25px;*/
	padding-left: 18px;
	text-align: center;
	margin-right: 10px;
	background-image: url(../img/danxuankuang.png);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	cursor: pointer;
}
.addclass{
	background-image: url(../img/danxuankuangs.png);

	}
.anniu{
	width: 0;
	height: 0;
	float: none;
	border: #e5e5e5 1px solid;
	background-color: #f7f7f8;
	margin-bottom: 30px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
	color: #566675;
	box-shadow: none;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}
.annius{
	background-image: url(../img/danxuankuang.png);
}
.nan,.nv{
	opacity: 0;
cursor: pointer;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: alpha(opacity=0);
}
.se_top{
	margin-bottom: 10px;
	

}
.xiangshidizhi{
	border: 1px solid #ccc;
	width: 85%;
	height: 34px;
	line-height: 34px;
	padding-left: 10px;
	background: transparent;z-index: 100;
	position: relative;
}
.dizhi_out{
	position: relative;

}
.dizhi_bot,.dizhi_bots,.dizhi_mima,.dizhi_mimas,.dizhi_mimass{
	position: absolute;
	top: 23%;
	left: 2%;
	color: #999;
}
select{
	margin: 0;
	padding: 0;
	width: 23%;
	height: 32px;
	margin-right: 10%;
	line-height: 32px;
	border: 1px solid #ccc;
}
.sbt p{
	text-align: center;
}
.sbt p input{
	width: 10.19%;
	height: 32px;
	color: #fff;
	background: #007daa;
	outline:0;resize:none;
	border: 0px;
	/*margin-top: 5%;*/
	cursor: pointer;
}
.quxiao{
	margin-left: 8%;
}
.baocun{
	margin-left: 8%;
}
.biaohui_le{
	float: left;
	width: 26.85%;
	height: 100%;
	background: #f5f8fc;
}
.sbt_sousuo{
	/*text-align: center;*/
	border: 1px solid #c2cbd9;
	width: 89.452%;
	margin: 11px auto;
	position: relative;
	background: #fff;

}
.sbt_sousuo input{
	border: 0px;
	height: 32px;
	line-height: 32px;
	
}
.sbt_sousuo .sbt_sousuo_le{
	width: 75%;
	position: relative;
	z-index: 1000;
	background: transparent;
}
.sbt_sousuo .sbt_sousuo_ri{
	width: 23.6%;
	vertical-align: middle;
	background: url(../img/fangdajing.png) 50% 50% no-repeat;
	background-color: #007DAA;
	text-align: center;
	cursor: pointer;
}
.biaohui_bot{
	position: absolute;
	top: 18%;
	left: 1%;
	color: #999;
	z-index: 1;
}
.biaohui_le li,.out_sbt{
	height: 54px;
	overflow: hidden;
	/*cursor: pointer;*/
	
}
.biaohui_le li{
	cursor: pointer;
}
.biaohui_con{
	
	width: 90.452%;
	margin: 16px auto;
	position: relative;
	overflow: hidden;
	line-height: 22px;

}
/*.biaohui_le li{
	line-height: 54px;
}*/
.tuding{
	width: 10%;
	height: 22px;
	display: inline-block;
	background: url(../img/tuding.png) 0 0 no-repeat;
	vertical-align: middle;
	margin-right: 5%;
	float: left;
}
.addbiaohui{
	background: #dee6f3;
}
.biaohui_del{
	width: 10%;
	height: 18px;
	display: inline-block;
	background: url(../img/lajitong.png) 0 0 no-repeat;
	vertical-align: middle;
	display: none;
	float: right;
}
.biaohui_con span{
	display: inline-block;
	color: #666;
	margin-right:5%;
	float: left;
}
.biaohui_map{
	float: left;
	width: 73.14%;
	height: 100%;
}
.tanchuang,.tanchuang2{
	display: none;
	/*opacity: 0.5;*/
	position: fixed;
	top: 0;
	background: #000;
	width: 100%;
	height: 100%;
	background-color: #000;
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
	z-index: 70000;
}

.xmlb_cons,.xmlb_con{
	width: 49.78%;
	height: 455px;
	min-height: 0px;
	padding: 0px;
	position: fixed;
	background: #fff;
	left: 25%;
	top: 15%;
	/*border: 1px solid #566675;*/
	display: none;
	z-index: 70000;
}

.map_top,.map_bot {
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	background: url(../img/mapbg.png) 0 0 no-repeat;
	border-bottom: 1px solid #dcdbd6;
	-moz-box-shadow: 0px 2px 3px #dcdbd6;
	-webkit-box-shadow: 0px 2px 3px #dcdbd6;
	box-shadow: 0px 2px 3px #dcdbd6;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#dcdbd6', Direction=125, Strength=9);
	position: relative;
}
.guanbi{
	display: inline-block;
	width: 2.384%;
	height: 40%;
	background: url(../img/guanbi.png) 0 0 no-repeat;
	vertical-align: middle;
	position: absolute;
	top: 30%;
	right: 2%;
	cursor: pointer;
}
.map_top span {
	font-size: 16px;
	color: #333;
}
.tanchuang2,.xmlb_con{
	display: none;
	
}
.xmlb_con{
	width: 17.49%;
	height: 148px;
	background: #fff;
	z-index:70000;
	top: 35%;
	left: 45%;
}
.pho_shan_top{
	height: 94px;
	width: 100%;
	line-height: 94px;
	text-align: center;
}
.pho_shan_bot{
	height: 54px;
	width: 100%;
	line-height: 54px;
	text-align: center;
	background: #f2f2f2;
}
.shan_chu,.shan_chus{
	width: 73px;
	height: 32px;
	display: inline-block;
	background: url(../img/shan_chu.png) 0 0 no-repeat;
	vertical-align: middle;
	cursor: pointer;
}
.shan_chus{
	background: url(../img/shanchu_red.png) 0 0 no-repeat;
}
.pho_shanchu{
	position: absolute;
	bottom: 0;
	text-align: center;
	background: #fff;
	width: 100%;
	height: 43px;
	line-height: 43px;
	border-top:1px solid #ccc ;
	display: none;
}
.queding,.quxiaos{
	width: 30.52%;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	border: 0px;
	cursor: pointer;
}
.queding{
	margin-right: 20px;
	background: url(../img/queding.png) 0 0 no-repeat;
	vertical-align: middle;
}
.quxiaos{
	background: url(../img/quxiao.png) 0 0 no-repeat;
	vertical-align: middle;
}