.dituneirong {
	overflow: hidden;
	margin-top: 10px;
}

.ditu_le {
	width: 43.87%;
	height: 378px;
	border: 1px solid #ccc;
	float: left;
}
.ditu_ri{
	float: left;
	width: 31.59%;
	height: 360px;
	margin-left: 15px;
}
#allmaps {
	width: 100%;
	height: 100%;
}
.moren{
	width: 100%;
	height: 120px;
	border: 1px solid #eae0b4;
	background: #fff8da;
	display: none;
}
.moren_tit{
	font-weight: bold;
	color: #333;
	margin: 25px 0 15px 15px;
}
.moren_lis{
	color: #333;
	margin-left: 15px;
	margin-bottom: 10px;
}
.weisousuo{
	display: none;
}
.weisousuo span,.zhanshosousuo span{
	color: #999;
}
.weisousuo input,.zhanshosousuo input{
	border: 0px;
	outline: none;
	resize: none;
	width: 112px;
	height: 30px;
	background: #1fa6d6;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}
.sorry{
	color: #333;
	margin-top: 30px;
}
.didian_list{
	margin-top: 10px;
}
.didian_list li{
	height: 34px;
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
}
.didian_list li div{
	float: left;
}
.dianbg,.dianbg2,.dianbg3,.dianbg4,.dianbg5,.dianbg6,.dianbg7{
	width:18px;
	height: 24px;
	background: url(../img/A.png) 0 0 no-repeat;
	vertical-align: middle;
	margin-top: 6px;
}
.dianbg2{
	background: url(../img/B.png) 0 0 no-repeat;
}
.dianbg3{
	background: url(../img/C.png) 0 0 no-repeat;
}
.dianbg4{
	background: url(../img/D.png) 0 0 no-repeat;
}
.dianbg5{
	background: url(../img/E.png) 0 0 no-repeat;
}
.dianbg6{
	background: url(../img/F.png) 0 0 no-repeat;
}
.dianbg7{
	background: url(../img/G.png) 0 0 no-repeat;
}
.dian_nrirong{
	width: 66.65%;
	margin-left: 5px;
	margin-right: 2%;
}
.dian_sbt input{
	width: 80px;
	height: 35px;
	border-radius: 0px;
	background: #007daa;
}
.chengshi{
	color: #0067b8;
}
.chengshidizhi{
	color:#999;
	font-size: 12px;
}
.dian_sbt .bbz{
	color: #666;
	background: #eceeee;
}
.bot_fenye a{
	display: inline-block;
	border: 1px solid #ebf0f2;
	color: #4281c2;
	font-size: 12px;
	padding: 4px 7px;
	cursor: pointer;
}

.bot_fenye .fadd{
	color: #fff;
	background: #007daa;
}
.d_add{
	background: #f4f4f4;
}











.opt_station_hover {
	background: rgb(77, 103, 130);
	font-size: 12px;
	width: 150px;
	height: 47px;
	border-radius: 5px;
}

.opt_station_hover_ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 23px;
	text-indent: 4px;
	color: white;
	position: relative;
}

.opt_station_hover_ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 23px;
}

.opt_station_hover img {
	position: absolute;
	left: 50%;
	margin-left: -5px;
}

.opt_li_left {
	width: 65px;
	display: bolck;
	float: left;
	text-align: right;
}