/*头部*/
input::-webkit-input-placeholder{
    color: #999999;
    font-size: 14px;
    
 }
 input::-ms-input-placeholder{
    color: #999999;
    font-size: 14px;
    
 }
 input::-moz-input-placeholder{
    color: #999999;
    font-size: 14px;
    
 }
 div{
 	outline: none;
resize: none;

 }
 .h_con_ri__le input{
 	color:#999999;
 }
 .body{
 	/*font-size: 14px !important;*/
 }
.header{
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #0078a4;
	overflow: hidden;
}
.clear{
	height: 0;
	clear: both;
	overflow: hidden;
}
a{cursor: pointer;}
/*logo*/
.h_con_le{
	width: 26.65%;
	height: 102px;
	float: left;
}
.h_con_le img{
	width: 100%;
	height: 100%;
}
/*搜索框*/
.h_con_ri{
	width: 80%;
	height: 102px;
	/*float: right;*/
	overflow: hidden;
}
.h_con_ri__le{
	float: left;
	height: 102px;
	width: 60%;
	
}  
.sousuo{

	margin-top: 16px;
	position: relative;
	float: left;
	overflow: hidden;
}
.sousuo_con{
	width: 500px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #dddddd;
	float: left;
display: inline;
position: relative;
z-index: 1006;

}   
/*.sousuo1{
	height: 35px;
	line-height: 34px;
	border: 1px solid #dddddd ;
}   */
.sou{
	width: 86.5%;
	border: none;
	display: inline-block;
	padding-left: 15px;
	/*line-height: 34px;*/
	outline: none;
	resize: none;
	color:#999999;
	height: 40px;
	line-height: 40px;
	float: left;
	display: inline;


}
/*.sousuo2,.sousuo3{
	border: 1px solid #dddddd ;
	height: 34px;
	line-height: 34px;
}*/
.bus_left ,.car_left{
    float: left;
    width: 40%;
    /*height: 26px;*/
    line-height:40px;
     height: 40px;
   border: none;
	padding-left: 5px;
	color:#999999;
    /*margin-top: 2px;*/
}
.bus_qh {
    background: url(../img/shuangxiang.png) no-repeat 0px 0px;
    width: 30px;
    height: 30px;
    float: left;
    display: block;
    text-align: center;
    margin: 5px 5px 0px 5px;
    cursor: pointer;
}
.bus_rt ,.car_rt{
    float: left;
    width: 40%;
   padding-left: 5px;
    height: 40px;
    line-height: 40px;
    border: none ;
  color:#999999;
    /*margin-top: 2px;*/

}
.sousuo3{
	text-align: center;
}
.car_left,.car_rt{
	width: 40%;
}
.car_rt{
	float: right;
}
.sou_btn{
	width: 100%;
	height: 42px;
	background: url(../img/sousuo.png) 0 0 no-repeat;
	cursor: pointer;
	/*margin-top: 1px;*/
	border: none;
	outline: none;
	resize: none;
	/*border: 1px solid #ddd;*/

}
.close{
	width: 6%;
	height: 40%;
	display: inline-block;
	background: url(../img/close.png) 0 0 no-repeat;
	position: absolute;
	top: 30%;
	right: 4%;
	cursor: pointer;
}
.sou_fenlei{
	overflow: hidden;
	width: 500px;
	float: left;
}
.sou_fenlei li{
	float: left;
	width: 25%;
	border: 1px solid #dddddd ;
	border-top: none;
	height: 28px;
	line-height: 28px;
	text-align: center;
	cursor: pointer;
	margin-right: 8px;
	color: #7F848A;
}
.sou_fenlei li a{
	color: #7F848A;
	width: 100%;
	display: inline-block;
}
.addc{
		background: #f1f9ff;
}
.sou_fenlei li .addcl{
	color: #007daa;
}
.sou_fenlei li img{
	vertical-align: middle;
}
.search_left{
	float: left;
	margin-top: 15px;
	width: 77px;
	height: 40px;
	border: 1px solid #DDDDDD;
	}
	.search_cun,.search_bus,.search_car{
		width: 13px;
		height: 16px;
		display: inline-block;
		background: url(../img/dingwei.png) 0 0 no-repeat;
		vertical-align: middle;
	}
	.search_bus{
		width: 14px;
		height: 17px;
		background: url(../img/bus.png) 0 0 no-repeat;
	}
	.search_car{
		width: 16px;
		height: 14px;
		background: url(../img/car.png) 0 0 no-repeat;
	}
/*登录*/
.h_con_ri__ri{
	float: right;
	width: 17%;
	height: 102px;
	line-height: 102px;
	text-align: center;
}
.h_con_ri__ri img{
	vertical-align: middle;
	margin-right: 10px;
}
.h_con_ri__ri a{
	text-decoration: underline;
	color: #666666;
	cursor: pointer;
}
.dl{
	/*display: none;*/
}
.grax{
	display: none;
}
.tanchuang{
	display: none;
	/*opacity: 0.5;*/
	position: fixed;
	top: 0;
	background: #000;
	width: 100%;
	height: 100%;
	background-color: #000;
	filter:alpha(opacity=50);   
     	 -moz-opacity:0.5;   
     	 -khtml-opacity: 0.5; 
	opacity: 0.5;
	z-index: 70000;
}

.xmlb_cons{
	width: 392px;
	min-height: 0px;
	font-size: 25px;
	padding: 0px;
	position: fixed;
	background: #fff;
	left: 25%;
	top: 25%;
	display: none;
	z-index: 70000;
}
.tc{
	width: 100%;
	height: 100%;
     border: none; 
     margin-top: 0px; 
    border-top: none;
     margin-bottom: 0px; 
    color: #566675;
    box-shadow: none; 
    overflow: hidden;

}
.tc li{
	position: relative;
	
}
.aqcl_title2{
	background: #f3f3f3;
	color: #666666;
	font-size: 16px;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
}
.aqcl_title2 i{
	float: right;
	font-size: 20px;
	margin-right: 20px;
	background: url(../img/cha.png) 0 0 no-repeat;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 15px;
	cursor: pointer;
}
.lognin_box{
	width: 350px;
	/*height: 190px;*/
	margin: 40px auto;
}
.lognin_box input{
	width: 315px;
	height: 42px;
	line-height: 42px;
	margin-bottom: 17px;
	border: 1px solid #dddddd;
    display: inline-block;
    outline: none;
    resize: none;
	padding-left: 35px;
	color:#999999;
}
.login_sbt{
	margin-top: 43px;
	background: url(../img/dl_sbt.png) 0 0 no-repeat;
	height: 50px !important;
	border-radius: 5px;
	cursor: pointer;
	width: 350px !important;
}
.l_cha,.l_cha2{
	position: absolute;
	width: 10px;
	height: 10px;
	display: inline-block;
	background: url(../img/login_cha.png) 0 0 no-repeat;
	top: 16px;
	right: 16px;
	cursor: pointer;
}
.l_ren,.l_suo{
	position: absolute;
	width: 19px;
	height: 19px;
	display: inline-block;
	background: url(../img/login_ren2.png) 0 0 no-repeat;
	top: 12px;
	left: 13px;
	cursor: pointer;
}
.l_suo{
	background: url(../img/suo.png) 0 0 no-repeat;
	height: 21px;
}
/*内容*/
.con_le{
	float: left;
	/*height: 578px;*/
	width: 365px;
	 border-right: 1px solid #ccc;
	 /*box-shadow: 0px 0px 6px #b9b9b9;*/
	 overflow: hidden;
}
.con_le_top{
	height: 32px;
    background: #007daa;
    color: #507eaf;
    overflow: hidden;
    line-height: 32px;
   


}
.con_le_top li{
	float: left;
	display: inline;
	width: 182px;
	cursor: pointer;
	text-align: center;

}
.con_le_top li span{
	float: left;
	display: block;

}
.libg{
	background: #02698e;
	height: 32px;
	

}
.fl,.sc{
	display: inline-block;
	float: left;
	height: 16px;
	width: 16px;
	margin: 8px 5px 0px 0px;
	background: url(../img/fl.png) no-repeat 0 0;

}
.sc{
	background: url(../img/sc.png) no-repeat 0 0;
}
.con_le_top li a{
	color: #FFF;
	display:inline-block;
	float: left;
	letter-spacing: 1px;
	font-family: "微软雅黑";
	font-size: 14px;
	width: 100%;

}
.sp_le{
	margin-left: 55px;
}
/*分类内容*/
.fl_con{
	overflow: hidden;
}
.fl_con li,.sc_dowan li{
	float: left;
	width: 60px;
	margin-left: 25px;
	margin-top: 22px;
	height: 57px;
	text-align: center;
}
.tit{
	margin-top: 32px;
	margin-bottom: 13px;
	margin-left: 20px;
	font-size: 16px;
	color: #333;
	font-weight: bold;
}
.fl_con .cz_xq li{
	width: 100%;
	height: 120px;
	overflow: hidden;
	text-align: left;
	border-bottom: 1px solid #f0f0f0;
}
.cz_xq li{
	margin-left: 0px;
	margin-top: 0px;
}

.cz_xq li a{
	display: block;
	margin-top: 10px;
	margin-left: 25px;
}
.cz_xq_le{
	float: left;
}
.cz_xq_ri{
	float: left;
	height: 80px;
	margin-left: 35px;
}
.waibu{
	height: 300px;
	overflow: hidden;
}
.cz_xq {
	overflow-y: scroll;
	height:100%;
	overflow-x: hidden;
	width: 100%;
}
.cz_xq li:hover{
	background: #f4f4f4;
}
.cz_xq span{
	color: #007daa;
	font-size: 12px;
	font-family: "宋体";
}
.wz{
	display: inline-block;
	height: 16px;
	width: 16px;
	background: url(../img/con_dw.png) 0 0 no-repeat;
	vertical-align: text-bottom;
}
.cz_xq_out p{
	margin: 10px 0;
	width: 180px;
}
.js{
	color: #333;
	font-size: 12px;
	font-family: "宋体";
}
.dw{
	color: #808080;
}
.addt{
	border-top: 1px solid #f0f0f0;
}
.addt span{
	margin-top:10px ;
	display: inline-block;
}
.sc_dowan{
	display: none;
}
/*地图*/
/*.con_ri{float: right;}*/
.allrttop {
    height: 32px;
	border-bottom: 1px solid #999999;
	min-width: 691px;

 
}
.alright_top_lt {
    float: left;
    display: inline;
    margin-left: 10px;
    line-height: 25px;
    margin-top: 1px;
}
.city {
    float: left;
    display: inline;
    color: #000000;
    margin-right: 10px;
    line-height: 25px;
    cursor: pointer;
}
.city span {
    float: left;
    display: inline;
    margin-left: 5px;
}
.raang_more {
    background: url(../img/xiala.png) no-repeat 0px 0px;
    width: 7px;
    height: 5px;
    float: left;
    display: inline;
    display: block;
    margin: 5px 0px 0px 4px;
        margin-top: 5px;
        margin-left: 4px;
}
.weather {
    float: left;
    display: inline;
    height: 22px;
    padding: 0px 5px;
    border: 1px solid #fff;
    cursor: pointer;
}
.weather span {
    margin-top: 0px;
    margin-left: 5px;
    float: left;
    display: inline;
}
.weather .weatherImg {
    float: left;
    width: 21px;
    height: 18px;
    background: url(../img/tq.png) 0 0 no-repeat;
    margin-top: 5px;
}
.alright_top_rt {
    float: right;
    display: inline;
    margin-right: 5px;
    height: 25px;
    margin-top: 1px;
}
.alright_top_rt li {
    float: left;
    display: inline;
    letter-spacing: 1px;
}
.view {
    width: 69px;
    height: 24px;
    line-height: 20px;
    z-index: 1300;
    position: relative;
    /*border: 1px solid #FFF;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(255, 255, 255);*/
    border-bottom: none;
        padding: 4px 1px 4px 1px;
}
.alright_top_rt li a {
    color: #000000;
}
.alright_top_rt li a:hover{
	 color: #007daa ;
}
.viewbg {
    display: block;
    padding: 0px 0px 0px 1px;
    margin-left: 7px;
    color: #007daa ;
}
.viewlabel {
    width: 14px;
    height: 14px;
    float: left;
    margin-top: 5px;
    margin-right: 3px;
    background: url(../img/tc2.png) no-repeat 0px 0px;
}
.view:hover .viewlabel {
	background: url(../img/tc1.png) no-repeat 0px 0px;
}
.tool:hover .toollabel {
	background: url(../img/daagongju.png) no-repeat 0px 0px;
}
.delete:hover .dellabel {
	background: url(../img/addclear.png) no-repeat 0px 0px;
}
.screen:hover .scrlabel {
	background: url(../img/addall.png) no-repeat 0px 0px;
}
.v_down{
	width: 75px;
    border: 1px solid #e5e5e5;
    border-top: none;
    position: absolute;
    top: 32px;
    background: #FFF;
    left: 0px;
    z-index: 1300;
}
.publine {
    width: 1px;
    height: 12px;
    background: #cccccc;
    margin-top: 5px;
}
.ranging {
    width: 61px;
    position: relative;
    padding: 4px 0px 4px 6px;
    border: 1px solid #fff;
}
.Point {
    width: 65px;
    position: relative;
    border: 1px solid #FFF;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(255, 255, 255);
    border-bottom: none;
    padding: 4px 0px;
    z-index: 1300;
}
.tool {
    width: 65px;
    height: 24px;
    position: relative;
    /*border: 1px solid #FFF;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(255, 255, 255);*/
    border-bottom: none;
        padding: 5px 1px 4px 1px;
    z-index: 1301;
}
.tool .v_down{
	width: 75px;
    border: 1px solid #e5e5e5;
    border-top: none;
    position: absolute;
    top: 32px;
    background: #FFF;
    left: -10px;
    z-index: 1300;
}
.toollabel {
    width: 14px;
    height: 14px;
    float: left;
    margin-right: 3px;
    background: url(../img/gj.png) no-repeat 0px 0px;
    margin-top: 4px;
}
.delete {
    /*border: 1px solid #fff;*/
    width: 53px;
    height: 24px;
    padding: 4px 1px 4px 1px;
    cursor: pointer;
}

.dellabel {
    width: 14px;
    height: 14px;
    margin-top: 4px;
    float: left;
    margin-right: 3px;
    background: url(../img/clear.png) no-repeat 0px 0px;
}
.screen {
	height: 24px;
    /*border: 1px solid #fff;*/
    padding: 4px 1px 4px 1px;
    cursor: pointer;
}
.scrlabel {
    width: 14px;
    height: 14px;
    margin-top: 4px;
    float: left;
    margin-right: 3px;
    background: url(../img/qp.png) no-repeat 0px 0px;
}
.view ul li {
    padding: 6px 6px 0px 6px;
    width: 65px;
    vertical-align: text-top;
    border-bottom: 1px solid #e8eff6;
    cursor: pointer;
}

.v_down{display: none;}
/*收起按钮*/
.shouqi{
	width: 20px;
	height: 50px;
	position: absolute;
	top: 60%;
	left: 365px;
	background: #fff;
	z-index: 999;
	line-height: 50px;
	cursor: pointer;
	color: #7f848a;
	text-align: center;
	font-family: "宋体";
	border: 1px #DDDDDD solid;
	border-left: none;
}
/*切换影像*/
.all_path{
	width: 60px;
	position: absolute;
    top: 160px;
    left: 400px;
    z-index: 1100;
}
.allp{
	width: 70px;
    float: left;
}
.pub_path1{
	width: 58px;
    height: 57px;
    border: 1px solid #b1b1b1;
    text-align: center;
    padding-bottom: 3px;
    float: left;
    display: inline;
    margin-left: 10px;
    background-color: #fff;
    cursor: pointer;
}
.hoverType{
	width: 56px;
    height: 58px;
    background-color: #fff;
    margin: auto;
}
.map_top{
	width: 56px;
    height: 39px;
    margin: auto;
    margin-top: 1px;
}
.imgType{
	    width: 56px;
    height: 38px;
    background: url(../img/indexImage.png) no-repeat -154px -155px;
}
.map_bom{
	margin-top: 1px;
    color: #333333;
}
.terType{
	width: 56px;
    height: 38px;
    background: url(../img/indexImage.png) no-repeat -86px -202px;
}
.glbType{
	width: 56px;
    height: 38px;
    background: url(../img/indexImage.png) no-repeat -86px -155px;
}
.vista{
	position: absolute;
    top: 345px;
    left: auto;
    right: 40px;
    z-index: 1100;
    width: 31px;
}
.proButtonImg{
	width: 40px;
    height: 57px;
    cursor: pointer;
    background: url(../img/indexImage.png) no-repeat -15px -380px;
}
/*城市下拉表*/
.city_switch_box {
    width: 450px;
    height: auto;
    background: #fff;
    border: 1px solid #AFAFAF;
    padding-bottom: 10px;
    position: absolute;
    top: 134px;
    left: 390px;
    z-index: 10010;
    display: none;
}
.city_close {
    float: right;
    width: 12px;
    height: 12px;
    cursor: pointer;
    background: url(../img/mainImage.png) no-repeat -31px -54px;
    margin: 5px 5px 0px 5px;
}
.def_city_con {
    border-bottom: 1px solid #000;
    margin: 22px 7px 10px 7px;
    display: block;
}
.def_city_set{
	 margin-bottom: 6px;
}
.def_city_con a {
    color: #5497de;
    cursor: pointer;
    text-decoration: underline;
}
.def_city_btn {
    margin-left: 15px;
}
.city_switch_search {
    padding: 3px 10px 0px 10px;
    clear: both;
    height: 24px;
}
.city_switch_search input {
    height: 20px;
    width: 225px;
    border: 1px solid #CFCFCF;
    float: left;
    line-height: 18px;
}
.syn_bom {
    background: url(../img/mainImage.png) no-repeat -300px -211px;
    width: 55px;
    height: 22px;
    float: left;
    display: block;
    border: none;
    cursor: pointer;
    margin-left: 1px;
}
.hot_city {
    line-height: 30px;
    padding-left: 10px;
}
.hot_city a {
    margin-left: 8px;
    clear: both;
    cursor: pointer;
}
.hot_city a:hover{
	color: #0697CA;
	text-decoration: underline;
}
.tit_class {
    height: 24px;
    padding-left: 2px;
    margin: 2px 7px 0px 7px;
    border-bottom: 2px solid #000;
}
.tit_class li {
    float: left;
    line-height: 20px;
    margin-top: 4px;
    display: block;
}
.tit_class li a {
    color: #9A9A9A;
    display: block;
    padding: 0px 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}
.tit_class li .hover {
    color: #333;
    display: block;
    padding: 0px 10px;
    color: #000;
    cursor: default;
    background: url(../img/city_switch_cur.png) no-repeat center 17px;
}
.tit_class li a:hover{
	color: #000;
}
.province_choose,.province_chooses {
    line-height: 24px;
    margin: 9px 16px 0 10px;
    text-align: right;
    background: url(../img/change_city_cur.png) repeat-x center center;
}
.china_place {
    float: left;
    font-weight: bold;
    color: #5497de;
    background-color: #FFF;
    cursor: pointer;
}
.province_choose a,.province_chooses a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #CCC;
    padding: 3px 8px;
    background-color: #FFF;
}
.province_choose .hover,.province_chooses .hover {
    color: #FFF;
    background-color: #5497de;
    border: 1px solid #5497de;
}
.province_choose a:hover{
	color: #FFF;
    background-color: #5497de;
    border: 1px solid #5497de;
}
.province_chooses a:hover{
	color: #FFF;
    background-color: #5497de;
    border: 1px solid #5497de;
}
.scrollBorderDiv{
    height: 250px;
    width: 450px;
    position: relative;
    overflow-y: scroll;	
    overflow-x: hidden;
}
.city_list_province_line {
    display: block;
    clear: both;
}
.city_list_province_name {
    width: 45px;
    float: left;
    display: block;
    line-height: 32px;
    padding-left: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #5497de;
}
.city_list_province_right {
    height: auto;
    float: right;
    width: 300px;
    line-height: 22px;
    margin-top: 5px;
    cursor: pointer;
}
.city_list_province_right a {
    cursor: pointer;
    color: #5497de;
    text-decoration: none;
    margin-right: 5px;
}
.city_list_province_right a:hover{
	text-decoration: underline;
}
.city_list_PINYIN {
    line-height: 24PX;
    padding: 5px 10px;
    word-wrap: break-word;
}
.city_list_PINYIN A {
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6B9FD8;
    margin-right: 10px;
    cursor: pointer;
}
.city_lists{
	display: none;
}
.province_chooses{
	display: none;
}
.citylist{
	display: none;
}
.citylistss{
	display: none;
}
/*新增*/
.tool .toolcjlabel{
	display: inline-block;
	width: 11px;
	height: 14px;
	margin-right: 9px;
	background: url(../img/ceju.png) 0 0 no-repeat;
	vertical-align: middle;
}
.tool .toolcmlabel{
	display: inline-block;
	width: 15px;
	height: 16px;
	margin-right: 6px;
	background: url(../img/cemian.png) 0 0 no-repeat;
	vertical-align: middle;
}
.tool .toolfxlabel{
	display: inline-block;
	width: 8px;
	height: 14px;
	margin-right: 9px;
	margin-left: 4px;
	background: url(../img/biaodian.png) 0 0 no-repeat;
	vertical-align: middle;
}
.tool ul{
	left: 10px;
}
.tool ul li{

	padding: 6px 6px 0px 6px;
    width: 65px;
    vertical-align: text-top;
    border-bottom: 1px solid #e8eff6;
    cursor: pointer;
}
.sc_sbt_out{
	overflow: hidden;
	margin: 13px 10px;
}
.sc_sbt_le,.sc_sbt_ri,.sc_dl_le,.sc_dl_ri{
	float: left;
}
.sc_sbt_le,.sc_dl_le{
	width: 80%;
}
.sc_dl_le{
	height: 30px;
	width: 60%;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #666;
	margin-left: 15px;
}
.sc_dl_le a{
	color: #007daa;
	text-decoration: underline;
}
.sc_sbt_le input{
	height: 39px;
	line-height: 39px;
	width: 100%;
	border: none;
	padding-left: 5px;
	background-color: #edf1f3;
}
.sc_sbt_ri{
	width:48px;
	height: 38px;
	line-height: 38px;
	background: url(../img/shoucang_sbt.png) 0 0 no-repeat;
	vertical-align: middle;
	cursor: pointer;
}
.sc_dl_ri{
	width:87px;
	height: 30px;
	line-height: 30px;
	background: url(../img/sc_denglu.png) 0 0 no-repeat;
	vertical-align: middle;
	cursor: pointer;
}
.sc_sbt_ri input,.sc_dl_ri input{
	width: 0;
	height: 0;
	border: none;
    outline: none;
    resize: none;
}
.sc_dowan .sc_li li{
	float: left;
    width: 100%;
    line-height: 54px;
    height: 54px;
    margin-left: 0;
    margin-top: 0;
    text-align: left;
    position: relative;
    cursor: pointer;
} 
.sc_li li a{
	display: inline-block;
	margin-left: 15px;
	overflow: hidden;
	cursor: pointer;
	
}
.ding{
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../img/shoucang_zhen.png) 0 0 no-repeat;
	vertical-align: middle;
	margin-right: 10px;
}
.dclear{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../img/shoucang_dele.png) 0 0 no-repeat;
	vertical-align: middle;
	position: absolute;
	right: 23px;
	top: 15px;
	cursor: pointer;
	display: none;
	}
.sc_li li:hover{
	background: #f4f4f4;
}
.sc_hide{display: none;}
#mapDiv1{display: none;}

.h_con_le {
    width: 26.65%;
    height: 102px;
    float: left;
}
.h_con_ri {
    width: 73%;
    height: 102px;
    /* float: right; */
    overflow: hidden;
}

.fenye p{
	margin: 0 auto !important;
}
.banner {
    width: 100%;
    height: 95px;
    margin-top: 5px;
    overflow: hidden;
    position: relative;
}
#inter img {
    width: 170px;
    height: 95px;
    float: left;
    margin-left: 10px;
    cursor: pointer;
}
.prev{
	width: 27px;
	height: 22px;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	background: #000000;
	opacity: 0.7;
	position: absolute;
	top: 340px;
	left: 10px;
	text-align: center;
	line-height: 22px;
	z-index: 100;
	font-family: "宋体";
}
	.next{width: 27px;
	height: 22px;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	background: #000000;
	opacity: 0.6;
	filter:alpha(opacity=60);  
	position: absolute;
	top: 340px;
	left: 333px;
	text-align: center;
	line-height: 22px;

	z-index: 100;
	font-family: "宋体";
}
.di_wenzi{
	position: absolute;
	top: 11px;
	left: 35px;
	font-size:14px ;
	color: #999;
}